.table {
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: stretch;
  min-width: 0;
  padding: 8px;
}
.tableHeadRow {
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  transform: translateX(0px) translateY(0px) translateZ(0px);
}
.tableHead {
  background: rgba(0, 0, 0, 0.0010000000474974513);
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
}
.mask {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-left: 4px;
  padding-right: 4px;
}
.mask > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.mask > :global(.__wab_flex-container) > *,
.mask > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.mask > :global(.__wab_flex-container) > picture > img,
.mask > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 10px;
}
.svg___3Cci {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 18px;
  height: 18px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text__x84Lz {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.17000000178813934px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.mask2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-left: 4px;
  padding-right: 4px;
}
.mask2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.mask2 > :global(.__wab_flex-container) > *,
.mask2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.mask2 > :global(.__wab_flex-container) > picture > img,
.mask2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 10px;
}
.svg__ajU65 {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 18px;
  height: 18px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.tableHead2 {
  background: rgba(0, 0, 0, 0.0010000000474974513);
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
}
.mask3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-left: 4px;
  padding-right: 4px;
}
.mask3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.mask3 > :global(.__wab_flex-container) > *,
.mask3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.mask3 > :global(.__wab_flex-container) > picture > img,
.mask3 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 10px;
}
.svg__mWvCu {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 18px;
  height: 18px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text__nGDxr {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.17000000178813934px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.mask4 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-left: 4px;
  padding-right: 4px;
}
.mask4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.mask4 > :global(.__wab_flex-container) > *,
.mask4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.mask4 > :global(.__wab_flex-container) > picture > img,
.mask4 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 10px;
}
.svg__wuTSi {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 18px;
  height: 18px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.tableHead3 {
  background: rgba(0, 0, 0, 0.0010000000474974513);
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
}
.mask5 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-left: 4px;
  padding-right: 4px;
}
.mask5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.mask5 > :global(.__wab_flex-container) > *,
.mask5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.mask5 > :global(.__wab_flex-container) > picture > img,
.mask5 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 10px;
}
.svg___9QDy {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 18px;
  height: 18px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text___0EBc3 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.17000000178813934px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.mask6 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-left: 4px;
  padding-right: 4px;
}
.mask6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.mask6 > :global(.__wab_flex-container) > *,
.mask6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.mask6 > :global(.__wab_flex-container) > picture > img,
.mask6 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 10px;
}
.svg__tiHp {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 18px;
  height: 18px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.tableHead4 {
  background: rgba(0, 0, 0, 0.0010000000474974513);
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
}
.mask7 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-left: 4px;
  padding-right: 4px;
}
.mask7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.mask7 > :global(.__wab_flex-container) > *,
.mask7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.mask7 > :global(.__wab_flex-container) > picture > img,
.mask7 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 10px;
}
.svg__b1Lb3 {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 18px;
  height: 18px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text__qZ0Xf {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.17000000178813934px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.mask8 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-left: 4px;
  padding-right: 4px;
}
.mask8 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.mask8 > :global(.__wab_flex-container) > *,
.mask8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.mask8 > :global(.__wab_flex-container) > picture > img,
.mask8 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 10px;
}
.svg__kAZcg {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 18px;
  height: 18px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.tableHead5 {
  background: rgba(0, 0, 0, 0.0010000000474974513);
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
}
.mask9 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-left: 4px;
  padding-right: 4px;
}
.mask9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.mask9 > :global(.__wab_flex-container) > *,
.mask9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.mask9 > :global(.__wab_flex-container) > picture > img,
.mask9 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 10px;
}
.svg__j7Mma {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 18px;
  height: 18px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text__umrqH {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.17000000178813934px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.mask10 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-left: 4px;
  padding-right: 4px;
}
.mask10 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.mask10 > :global(.__wab_flex-container) > *,
.mask10 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.mask10 > :global(.__wab_flex-container) > picture > img,
.mask10
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__ltLwR {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 18px;
  height: 18px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.row1 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.cell1 {
  background: rgba(0, 0, 0, 0.0010000000474974513);
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
}
.box {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.typography {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body2 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.typography2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body22 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.cell2 {
  background: rgba(0, 0, 0, 0.0010000000474974513);
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
}
.box2 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.typography3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body23 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.typography4 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body24 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.cell3 {
  background: rgba(0, 0, 0, 0.0010000000474974513);
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
}
.box3 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.typography5 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body25 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.typography6 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body26 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.cell4 {
  background: rgba(0, 0, 0, 0.0010000000474974513);
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
}
.box4 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.typography7 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body27 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.typography8 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body28 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.cell5 {
  background: rgba(0, 0, 0, 0.0010000000474974513);
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
}
.box5 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.typography9 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body29 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.typography10 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body210 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.row2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.cell12 {
  background: rgba(0, 0, 0, 0.0010000000474974513);
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
}
.box6 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.typography11 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body211 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.typography12 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body212 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.cell22 {
  background: rgba(0, 0, 0, 0.0010000000474974513);
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
}
.box7 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.typography13 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body213 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.typography14 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body214 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.cell32 {
  background: rgba(0, 0, 0, 0.0010000000474974513);
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
}
.box8 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.typography15 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body215 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.typography16 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body216 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.cell42 {
  background: rgba(0, 0, 0, 0.0010000000474974513);
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
}
.box9 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.typography17 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body217 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.typography18 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body218 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.cell52 {
  background: rgba(0, 0, 0, 0.0010000000474974513);
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
}
.box10 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.typography19 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body219 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.typography20 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body220 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.row3 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.cell13 {
  background: rgba(0, 0, 0, 0.0010000000474974513);
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
}
.box11 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.typography21 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body221 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.typography22 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body222 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.cell23 {
  background: rgba(0, 0, 0, 0.0010000000474974513);
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
}
.box12 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.typography23 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body223 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.typography24 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body224 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.cell33 {
  background: rgba(0, 0, 0, 0.0010000000474974513);
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
}
.box13 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.typography25 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body225 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.typography26 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body226 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.cell43 {
  background: rgba(0, 0, 0, 0.0010000000474974513);
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
}
.box14 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.typography27 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body227 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.typography28 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body228 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.cell53 {
  background: rgba(0, 0, 0, 0.0010000000474974513);
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
}
.box15 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.typography29 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body229 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.typography30 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body230 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.row4 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.cell14 {
  background: rgba(0, 0, 0, 0.0010000000474974513);
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
}
.box16 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.typography31 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body231 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.typography32 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body232 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.cell24 {
  background: rgba(0, 0, 0, 0.0010000000474974513);
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
}
.box17 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.typography33 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body233 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.typography34 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body234 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.cell34 {
  background: rgba(0, 0, 0, 0.0010000000474974513);
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
}
.box18 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.typography35 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body235 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.typography36 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body236 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.cell44 {
  background: rgba(0, 0, 0, 0.0010000000474974513);
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
}
.box19 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.typography37 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body237 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.typography38 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body238 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.cell54 {
  background: rgba(0, 0, 0, 0.0010000000474974513);
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
}
.box20 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.typography39 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body239 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.typography40 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body240 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.row5 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.cell15 {
  background: rgba(0, 0, 0, 0.0010000000474974513);
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
}
.box21 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.typography41 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body241 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.typography42 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body242 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.cell25 {
  background: rgba(0, 0, 0, 0.0010000000474974513);
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
}
.box22 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.typography43 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body243 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.typography44 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body244 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.cell35 {
  background: rgba(0, 0, 0, 0.0010000000474974513);
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
}
.box23 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.typography45 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body245 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.typography46 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body246 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.cell45 {
  background: rgba(0, 0, 0, 0.0010000000474974513);
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
}
.box24 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.typography47 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body247 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.typography48 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body248 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.cell55 {
  background: rgba(0, 0, 0, 0.0010000000474974513);
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
}
.box25 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.typography49 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body249 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.typography50 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body250 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.tableFooter {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  padding-top: 2px;
  padding-bottom: 2px;
}
.tableFooter > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: calc(0px - 26px);
  width: calc(100% + 26px);
}
.tableFooter > :global(.__wab_flex-container) > *,
.tableFooter > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.tableFooter > :global(.__wab_flex-container) > picture > img,
.tableFooter
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 26px;
}
.container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.container > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.container > :global(.__wab_flex-container) > *,
.container > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container > :global(.__wab_flex-container) > picture > img,
.container
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.rowsPerPage {
  display: block;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4000000059604645px;
  line-height: 1.659999966621399;
  color: rgba(0, 0, 0, 0.6000000238418579);
  position: relative;
}
.page {
  width: 38px;
  height: 24px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.text__v1Rnc {
  display: block;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4000000059604645px;
  line-height: 1.659999966621399;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: absolute;
  top: 3px;
  right: 24px;
}
.svg__cY5Zz {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  overflow: hidden;
}
._110Of100 {
  display: block;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4000000059604645px;
  line-height: 1.659999966621399;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.navigation {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.iconButton {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  padding: 8px;
}
.icon {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.svg__fKwE {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.iconButton2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  padding: 8px;
}
.icon2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.svg__r5Qh8 {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
