.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-iAu05OKhXiHo);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-WmlEJr3aHk1y);
  font-family: var(--token-HG7J0CIxGuSx);
  font-size: var(--token-L1ZoKZx6jfei);
  line-height: var(--token-CqXjvEUuGhDi);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-iE-8n2ZaoE5H);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-Z5bsESlYQX99);
  outline-offset: 1px;
  outline-color: var(--token-iAu05OKhXiHo);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-ZAur2pgIG_Zp);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-qDIRzHOKzzkQ);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-ZqhNqh9c5lvC);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-BbUDxilQdeP3);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-G9m7WG3kzr7q);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-Id9oWqgtKCR_);
  font-size: var(--token-1JU_pcvlff3Q);
  column-gap: var(--token-Z5bsESlYQX99);
  row-gap: 0px;
  border-radius: var(--token-QyFW2EAs6L9m);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-1JU_pcvlff3Q);
  line-height: var(--token-Id9oWqgtKCR_);
  column-gap: var(--token-QyFW2EAs6L9m);
  row-gap: 0px;
  border-radius: var(--token-QyFW2EAs6L9m);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-f8rxZn2dVxuJ);
  line-height: var(--token-xW2KAuijBASc);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-f8rxZn2dVxuJ);
  line-height: var(--token-xW2KAuijBASc);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-kIvEgoflPmqz);
  border-radius: var(--token-iE-8n2ZaoE5H);
}
.softBackgroundcolor_neutral {
  background: var(--token-MfEgUwhIHQXk);
}
.softBackgroundcolor_muted {
  background: var(--token-WpIVfpedtOJW);
}
.softBackgroundcolor_success {
  background: var(--token--UBHikcH5m0i);
}
.softBackgroundcolor_warning {
  background: var(--token-gRmeWZ2Wjsvl);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-7ld7aQfM-D2h);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-iE-8n2ZaoE5H);
  border: 0px solid var(--token-SjqNcLxK8xSA);
}
.bordercolor_neutral {
  border-color: var(--token-ssSTc8x8jDwj);
}
.bordercolor_muted {
  border-color: var(--token-RQUz5nNXMsqv);
}
.bordercolor_success {
  border-color: var(--token-oEF5z3dSFLvo);
}
.bordercolor_warning {
  border-color: var(--token-1CmUv_n8u7D3);
}
.bordercolor_errorDestructive {
  border-color: var(--token-GWy8fgc4x3De);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-iE-8n2ZaoE5H);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-OXDhmmmIenGs);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-DFMUIzTYFzj7);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-BHHKb46Uo_m9);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__nb6G {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-iE-8n2ZaoE5H) var(--token-m4BYaY6Yv9fg);
}
.freeBox__nb6G > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-iE-8n2ZaoE5H));
  width: calc(100% + var(--token-iE-8n2ZaoE5H));
}
.freeBox__nb6G > :global(.__wab_flex-container) > *,
.freeBox__nb6G > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nb6G > :global(.__wab_flex-container) > picture > img,
.freeBox__nb6G
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-iE-8n2ZaoE5H);
}
.freeBoxsize_extraSmall__nb6GkcNvx {
  padding: var(--token-QyFW2EAs6L9m) var(--token-iE-8n2ZaoE5H);
}
.freeBoxsize_small__nb6GMdh9L {
  padding: var(--token-iE-8n2ZaoE5H) var(--token-WmlEJr3aHk1y);
}
.freeBoxsize_large__nb6Gwz059 {
  padding-top: var(--token-QyFW2EAs6L9m);
  padding-bottom: var(--token-QyFW2EAs6L9m);
}
.freeBoxsize_extraLarge__nb6GZw9Jx {
  padding-left: var(--token-LfqKMKXzOl3_);
  padding-right: var(--token-LfqKMKXzOl3_);
}
.freeBoxroundedFull__nb6GgiNhA {
  padding-right: var(--token-LfqKMKXzOl3_);
  padding-left: var(--token-LfqKMKXzOl3_);
}
.freeBox__bQf4 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__bQf4ZExXn {
  display: flex;
}
.slotTargetStart {
  color: var(--token-dVRCrFAk2LwT);
}
.slotTargetStartcolor_neutral {
  color: var(--token-I7ZaQzWFl_7K);
}
.slotTargetStartcolor_muted {
  color: var(--token-8KbLyIZelV0m);
}
.slotTargetStartcolor_success {
  color: var(--token-55LiUaEpDiUr);
}
.slotTargetStartcolor_warning {
  color: var(--token-rX-9liVE02z2);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-Abyb-OH2h2lP);
}
.slotTargetStarttype_soft {
  color: var(--token-17YRbpibwoy3);
}
.slotTargetStarttype_bordered {
  color: var(--token-17YRbpibwoy3);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-1JU_pcvlff3Q);
}
.slotTargetStartsize_small {
  font-size: var(--token-1JU_pcvlff3Q);
}
.slotTargetStartsize_large {
  font-size: var(--token-f8rxZn2dVxuJ);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-f8rxZn2dVxuJ);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-EEDlKr4MT0By);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-EEDlKr4MT0By);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-gbn2KRnxtGMo);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-gbn2KRnxtGMo);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-Ac0up_GZoEi9);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-Ac0up_GZoEi9);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-7CIh4zjLYhC2);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-7CIh4zjLYhC2);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-Ojm-9zyGXpGd);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-Ojm-9zyGXpGd);
}
.svg__hLx5R {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-dVRCrFAk2LwT);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-I7ZaQzWFl_7K);
}
.slotTargetLabelcolor_muted {
  color: var(--token-8KbLyIZelV0m);
}
.slotTargetLabelcolor_success {
  color: var(--token-55LiUaEpDiUr);
}
.slotTargetLabelcolor_warning {
  color: var(--token-rX-9liVE02z2);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-Abyb-OH2h2lP);
}
.slotTargetLabeltype_soft {
  color: var(--token-17YRbpibwoy3);
}
.slotTargetLabeltype_bordered {
  color: var(--token-17YRbpibwoy3);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-EEDlKr4MT0By);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-gbn2KRnxtGMo);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-EEDlKr4MT0By);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-Ac0up_GZoEi9);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-gbn2KRnxtGMo);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-7CIh4zjLYhC2);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-Ac0up_GZoEi9);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-Ojm-9zyGXpGd);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-7CIh4zjLYhC2);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-Ojm-9zyGXpGd);
}
.text__bZqFu {
  white-space: pre;
}
.freeBox__akOv {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__akOvSge1 {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-dVRCrFAk2LwT);
}
.slotTargetEndcolor_neutral {
  color: var(--token-I7ZaQzWFl_7K);
}
.slotTargetEndcolor_muted {
  color: var(--token-8KbLyIZelV0m);
}
.slotTargetEndcolor_success {
  color: var(--token-55LiUaEpDiUr);
}
.slotTargetEndcolor_warning {
  color: var(--token-rX-9liVE02z2);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-Abyb-OH2h2lP);
}
.slotTargetEndtype_soft {
  color: var(--token-17YRbpibwoy3);
}
.slotTargetEndtype_bordered {
  color: var(--token-17YRbpibwoy3);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-1JU_pcvlff3Q);
}
.slotTargetEndsize_small {
  font-size: var(--token-1JU_pcvlff3Q);
}
.slotTargetEndsize_large {
  font-size: var(--token-f8rxZn2dVxuJ);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-f8rxZn2dVxuJ);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-EEDlKr4MT0By);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-EEDlKr4MT0By);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-gbn2KRnxtGMo);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-gbn2KRnxtGMo);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-Ac0up_GZoEi9);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-Ac0up_GZoEi9);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-7CIh4zjLYhC2);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-7CIh4zjLYhC2);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-Ojm-9zyGXpGd);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-Ojm-9zyGXpGd);
}
.svg__fmDa1 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
