.ariaDialogTrigger:global(.__wab_instance) {
  position: relative;
}
.button__zl5D7:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__cYZp {
  position: relative;
  height: 1em;
}
.svg__fp65M {
  position: relative;
  height: 1em;
}
.ariaPopover:global(.__wab_instance) {
  font-family: var(--token-HG7J0CIxGuSx);
  font-size: var(--token-L1ZoKZx6jfei);
  color: var(--token-_RzW1cxkHVqB);
  line-height: var(--token-CqXjvEUuGhDi);
  box-shadow: 0px 0px 20px 0px #00000040;
  border-radius: var(--token-LfqKMKXzOl3_);
}
.ariaDialog:global(.__wab_instance) {
  object-fit: cover;
  outline-style: none;
}
.freeBox___11F8Z {
  display: flex;
  flex-direction: column;
  position: relative;
  background: var(--token-jRvA4pVCo8AN);
  width: 320px;
  border-radius: var(--token-LfqKMKXzOl3_);
  padding: var(--token-oHOtavJGAmlS);
}
.freeBox___11F8Z > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - var(--token-WmlEJr3aHk1y));
  height: calc(100% + var(--token-WmlEJr3aHk1y));
}
.freeBox___11F8Z > :global(.__wab_flex-container) > *,
.freeBox___11F8Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___11F8Z > :global(.__wab_flex-container) > picture > img,
.freeBox___11F8Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-WmlEJr3aHk1y);
}
.text__ctXf7 {
  position: relative;
}
.text___9F0FU {
  position: relative;
  font-weight: 500;
}
.text___3KlTj {
  position: relative;
}
