.home {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: linear-gradient(89deg, #ff9fc0 0%, #56b9ff 100%) 0% 0% / 100% 100%
    repeat;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.home > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .home > * {
    grid-column: 4;
  }
}
.landingPage {
  background: linear-gradient(
        180deg,
        rgba(33, 28, 132, 1) 0%,
        rgba(172, 23, 84, 1) 99.99%
      )
      0% 0% / 100% 100% no-repeat,
    rgba(255, 255, 255, 1);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 40px;
  padding-right: 40px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
}
.sidebar:global(.__wab_instance) {
  height: auto;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  transform: none;
  left: 0px;
  top: 0px;
  z-index: 1;
  position: sticky;
  margin-top: 102px;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in;
  -webkit-transition-duration: 1s;
}
.centerContent {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-direction: column;
  padding: 8px 24px;
}
.centerContent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.centerContent > :global(.__wab_flex-container) > *,
.centerContent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.centerContent > :global(.__wab_flex-container) > picture > img,
.centerContent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.headerContent {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 16px;
}
.headerContent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.headerContent > :global(.__wab_flex-container) > *,
.headerContent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerContent > :global(.__wab_flex-container) > picture > img,
.headerContent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.breadCrumbs {
  position: relative;
  width: auto;
  flex-shrink: 1;
}
.textContentBc {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
}
.textContentBc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.textContentBc > :global(.__wab_flex-container) > *,
.textContentBc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.textContentBc > :global(.__wab_flex-container) > picture > img,
.textContentBc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.breadcrumbs {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.link {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.link > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link > :global(.__wab_flex-container) > *,
.link > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link > :global(.__wab_flex-container) > picture > img,
.link > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.icon9 {
  width: auto;
  height: 16px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.svg__iMwW8 {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-shrink: 0;
}
.link2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.typography {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body1 {
  display: block;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.15000000596046448px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.separator {
  width: 23px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
}
.text__nLcBp {
  display: block;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.15000000596046448px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.6000000238418579);
  position: relative;
  width: 7px;
  height: 24px;
  flex-shrink: 0;
}
.link3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.link3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link3 > :global(.__wab_flex-container) > *,
.link3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link3 > :global(.__wab_flex-container) > picture > img,
.link3 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.icon10 {
  width: auto;
  height: 16px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.svg__yqZ2E {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-shrink: 0;
}
.link4 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.typography2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body12 {
  display: block;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.15000000596046448px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.separator2 {
  width: 23px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
}
.text__g3Ete {
  display: block;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.15000000596046448px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.6000000238418579);
  position: relative;
  width: 7px;
  height: 24px;
  flex-shrink: 0;
}
.link5 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.link5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link5 > :global(.__wab_flex-container) > *,
.link5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link5 > :global(.__wab_flex-container) > picture > img,
.link5 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.icon11 {
  width: auto;
  height: 16px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.svg__xbGOi {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-shrink: 0;
}
.link6 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.typography3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body13 {
  display: block;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.15000000596046448px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8700000047683716);
  position: relative;
}
.freeBox__ofJc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 12px 0px 0px;
}
.freeBox__v1Xn {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__v1Xn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-0tl2H1TRPHhV));
  width: calc(100% + var(--token-0tl2H1TRPHhV));
}
.freeBox__v1Xn > :global(.__wab_flex-container) > *,
.freeBox__v1Xn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__v1Xn > :global(.__wab_flex-container) > picture > img,
.freeBox__v1Xn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-0tl2H1TRPHhV);
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  display: block !important;
  overflow: hidden;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.button2 {
  color: var(--token-17YRbpibwoy3);
  line-height: 26px;
  letter-spacing: 0.46000000834465027px;
  font-weight: 700;
  font-family: "Roboto Flex", sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  display: block;
  background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(246, 121, 40, 1) 100%
      )
      0% 0% / 100% 100% no-repeat,
    rgba(0, 0, 0, 0);
  flex-shrink: 1;
  white-space: pre;
  border-radius: 16em;
  padding: 12px;
}
.header {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
.header > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.header > :global(.__wab_flex-container) > *,
.header > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.header > :global(.__wab_flex-container) > picture > img,
.header
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.headerTexts {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.companyName {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
.companyName > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.companyName > :global(.__wab_flex-container) > *,
.companyName > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.companyName > :global(.__wab_flex-container) > picture > img,
.companyName
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.frame20 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
}
.frame20 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame20 > :global(.__wab_flex-container) > *,
.frame20 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame20 > :global(.__wab_flex-container) > picture > img,
.frame20
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.cardHeader {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 16px;
  padding-right: 16px;
}
.content {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.header2 {
  display: block;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.15000000596046448px;
  line-height: 1.600000023841858;
  color: rgba(255, 255, 255, 1);
  align-self: stretch;
  position: relative;
}
.text__dak {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.6000000238418579);
  align-self: stretch;
  position: relative;
}
.iconButton {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  padding: 8px;
}
.icon12 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.svg__gfeTd {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.companySubtext {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
.companySubtext > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.companySubtext > :global(.__wab_flex-container) > *,
.companySubtext > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.companySubtext > :global(.__wab_flex-container) > picture > img,
.companySubtext
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.textContentCs {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
}
.textContentCs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.textContentCs > :global(.__wab_flex-container) > *,
.textContentCs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.textContentCs > :global(.__wab_flex-container) > picture > img,
.textContentCs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.headerSubtext {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
}
.content2 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.header3 {
  position: relative;
  align-self: stretch;
  line-height: 1.3339999914169312;
  letter-spacing: 0px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  display: block;
  color: #ffffff;
}
.text__xi8Z {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.6000000238418579);
  align-self: stretch;
  position: relative;
}
.iconButton2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  padding: 8px;
}
.icon13 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.svg__yuhpd {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.login {
  width: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 16px;
  padding-right: 16px;
}
.frame21 {
  width: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 8px;
  padding-right: 8px;
}
.icon14 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.svg__ju5RS {
  object-fit: cover;
  max-width: 100%;
  color: #f67928;
  width: 35px;
  height: 35px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon15 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.svg__pRhgf {
  object-fit: cover;
  max-width: 100%;
  color: #f67928;
  width: 35px;
  height: 35px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frame22 {
  width: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 8px;
  padding-right: 8px;
}
.icon16 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.svg__zJrx2 {
  object-fit: cover;
  max-width: 100%;
  color: #f67928;
  width: 35px;
  height: 35px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon17 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.svg__eMzVz {
  object-fit: cover;
  max-width: 100%;
  color: #f67928;
  width: 35px;
  height: 35px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.centerHero {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-direction: row;
}
.centerHero > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.centerHero > :global(.__wab_flex-container) > *,
.centerHero > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.centerHero > :global(.__wab_flex-container) > picture > img,
.centerHero
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.heroContent {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame25 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.frame25 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame25 > :global(.__wab_flex-container) > *,
.frame25 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame25 > :global(.__wab_flex-container) > picture > img,
.frame25
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.frame24 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.frame24 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame24 > :global(.__wab_flex-container) > *,
.frame24 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame24 > :global(.__wab_flex-container) > picture > img,
.frame24
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.heroMedia {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.heroMedia > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.heroMedia > :global(.__wab_flex-container) > *,
.heroMedia > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.heroMedia > :global(.__wab_flex-container) > picture > img,
.heroMedia
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.heroVideo {
  height: 337px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  flex-shrink: 0;
}
.heroVideo > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.heroVideo > :global(.__wab_flex-container) > *,
.heroVideo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.heroVideo > :global(.__wab_flex-container) > picture > img,
.heroVideo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.component2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.component2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.component2 > :global(.__wab_flex-container) > *,
.component2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.component2 > :global(.__wab_flex-container) > picture > img,
.component2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.home11 {
  background: url("/plasmic/blank_website/images/home11.png") center center / cover no-repeat;
  height: 337px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.heroText {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.heroText > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.heroText > :global(.__wab_flex-container) > *,
.heroText > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.heroText > :global(.__wab_flex-container) > picture > img,
.heroText
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.cardHeader2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16px;
}
.content3 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.header4 {
  display: block;
  font-size: 20px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.15000000596046448px;
  line-height: 1.600000023841858;
  color: rgba(255, 255, 255, 1);
  align-self: stretch;
  position: relative;
}
.text__fcrrr {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.6000000238418579);
  align-self: stretch;
  position: relative;
}
.iconButton3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  padding: 8px;
}
.icon18 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.svg__pqsR9 {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.heroText2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
.heroText2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.heroText2 > :global(.__wab_flex-container) > *,
.heroText2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.heroText2 > :global(.__wab_flex-container) > picture > img,
.heroText2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.button3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 8px 22px;
}
.base2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.base2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.base2 > :global(.__wab_flex-container) > *,
.base2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.base2 > :global(.__wab_flex-container) > picture > img,
.base2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.maskedIcon3 {
  width: 18px;
  height: 24px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.svg__xDGaO {
  object-fit: cover;
  max-width: 100%;
  color: #1976d2;
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: -1px;
  left: -6px;
  overflow: hidden;
}
.button4 {
  display: block;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.46000000834465027px;
  line-height: 26px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.maskedIcon4 {
  width: 18px;
  height: 24px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.svg__xEwj6 {
  object-fit: cover;
  max-width: 100%;
  color: #1976d2;
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: -1px;
  left: 0px;
  overflow: hidden;
}
.navIcon {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 32px;
}
.navIcon > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.navIcon > :global(.__wab_flex-container) > *,
.navIcon > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navIcon > :global(.__wab_flex-container) > picture > img,
.navIcon
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.frame23 {
  width: 61px;
  height: 61px;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-shrink: 0;
}
.frame23 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame23 > :global(.__wab_flex-container) > *,
.frame23 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame23 > :global(.__wab_flex-container) > picture > img,
.frame23
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.icon19 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.svg__ef0C4 {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 61px;
  height: 61px;
  display: block;
  flex-grow: 1;
  overflow: hidden;
  flex-shrink: 0;
}
.frame26 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
}
.frame26 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame26 > :global(.__wab_flex-container) > *,
.frame26 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame26 > :global(.__wab_flex-container) > picture > img,
.frame26
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.frame27 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.frame27 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame27 > :global(.__wab_flex-container) > *,
.frame27 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame27 > :global(.__wab_flex-container) > picture > img,
.frame27
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.frame28 {
  height: 842px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  flex-shrink: 0;
}
.frame28 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame28 > :global(.__wab_flex-container) > *,
.frame28 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame28 > :global(.__wab_flex-container) > picture > img,
.frame28
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.heroText3 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
.cardHeader3 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16px;
}
.content4 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.header5 {
  display: block;
  font-size: 34px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.25px;
  line-height: 1.2350000143051147;
  color: rgba(255, 255, 255, 1);
  align-self: stretch;
  position: relative;
}
.text__ntEyB {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.6000000238418579);
  align-self: stretch;
  position: relative;
}
.iconButton4 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  padding: 8px;
}
.icon20 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.svg__yiHyP {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.heroMedia2 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-direction: column;
}
.heroMedia2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.heroMedia2 > :global(.__wab_flex-container) > *,
.heroMedia2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.heroMedia2 > :global(.__wab_flex-container) > picture > img,
.heroMedia2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.frame29 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-direction: row;
}
.frame29 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.frame29 > :global(.__wab_flex-container) > *,
.frame29 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame29 > :global(.__wab_flex-container) > picture > img,
.frame29
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.heroVideo2 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-direction: column;
}
.heroVideo2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.heroVideo2 > :global(.__wab_flex-container) > *,
.heroVideo2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.heroVideo2 > :global(.__wab_flex-container) > picture > img,
.heroVideo2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.image {
  background: url("/plasmic/blank_website/images/image.png") center center / cover no-repeat;
  display: block;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
}
.heroVideo3 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-direction: column;
}
.heroVideo3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.heroVideo3 > :global(.__wab_flex-container) > *,
.heroVideo3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.heroVideo3 > :global(.__wab_flex-container) > picture > img,
.heroVideo3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.image1 {
  background: url("/plasmic/blank_website/images/image1.png") center center / cover no-repeat;
  display: block;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
}
.heroVideo4 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-direction: column;
}
.heroVideo4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.heroVideo4 > :global(.__wab_flex-container) > *,
.heroVideo4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.heroVideo4 > :global(.__wab_flex-container) > picture > img,
.heroVideo4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.image2 {
  background: url("/plasmic/blank_website/images/image2.png") center center / cover no-repeat;
  display: block;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
}
.frame30 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-direction: row;
}
.frame30 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.frame30 > :global(.__wab_flex-container) > *,
.frame30 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame30 > :global(.__wab_flex-container) > picture > img,
.frame30
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.heroVideo5 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-direction: column;
}
.heroVideo5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.heroVideo5 > :global(.__wab_flex-container) > *,
.heroVideo5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.heroVideo5 > :global(.__wab_flex-container) > picture > img,
.heroVideo5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.image3 {
  background: url("/plasmic/blank_website/images/image3.png") center center / cover no-repeat;
  display: block;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
}
.heroVideo6 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-direction: column;
}
.heroVideo6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.heroVideo6 > :global(.__wab_flex-container) > *,
.heroVideo6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.heroVideo6 > :global(.__wab_flex-container) > picture > img,
.heroVideo6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.image4 {
  background: url("/plasmic/blank_website/images/image4.png") center center / cover no-repeat;
  display: block;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
}
.navIcon2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  padding-top: 48px;
  padding-bottom: 48px;
}
.navIcon2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.navIcon2 > :global(.__wab_flex-container) > *,
.navIcon2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navIcon2 > :global(.__wab_flex-container) > picture > img,
.navIcon2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.navFrame2 {
  width: 61px;
  height: 61px;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-shrink: 0;
}
.navFrame2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.navFrame2 > :global(.__wab_flex-container) > *,
.navFrame2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navFrame2 > :global(.__wab_flex-container) > picture > img,
.navFrame2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.icon21 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.svg__oU7PF {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 61px;
  height: 61px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  overflow: hidden;
  flex-shrink: 0;
}
.frame33 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.cardHeader4 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 32px 16px;
}
.content5 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.header6 {
  display: block;
  font-size: 34px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.25px;
  line-height: 1.2350000143051147;
  color: rgba(255, 255, 255, 1);
  align-self: stretch;
  position: relative;
}
.text__rh4Lu {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.6000000238418579);
  align-self: stretch;
  position: relative;
}
.iconButton5 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  padding: 8px;
}
.icon22 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.svg__fTb1 {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frame31 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.frame31 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame31 > :global(.__wab_flex-container) > *,
.frame31 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame31 > :global(.__wab_flex-container) > picture > img,
.frame31
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.connect51 {
  background: url("/plasmic/blank_website/images/connect51.png") -193px -293px / 721px 722px no-repeat;
  width: 333px;
  height: 182px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.cardHeader5 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 32px 16px;
}
.content6 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.header7 {
  display: block;
  font-size: 20px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.15000000596046448px;
  line-height: 1.600000023841858;
  color: rgba(255, 255, 255, 1);
  align-self: stretch;
  position: relative;
}
.text__lo0Fn {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.6000000238418579);
  align-self: stretch;
  position: relative;
}
.iconButton6 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  padding: 8px;
}
.icon23 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.svg__hCypf {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.heroVideo7 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  padding-left: 96px;
  padding-right: 24px;
}
.heroVideo7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.heroVideo7 > :global(.__wab_flex-container) > *,
.heroVideo7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.heroVideo7 > :global(.__wab_flex-container) > picture > img,
.heroVideo7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.frame32 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
}
.frame32 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame32 > :global(.__wab_flex-container) > *,
.frame32 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame32 > :global(.__wab_flex-container) > picture > img,
.frame32
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.cardHeader6 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16px;
}
.content7 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.header8 {
  display: block;
  font-size: undefinedpx;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  align-self: stretch;
  position: relative;
  color: #f2e8e8;
}
.text__hBhiw {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.6000000238418579);
  align-self: stretch;
  position: relative;
}
.iconButton7 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  padding: 8px;
}
.icon24 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.svg___40KVx {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frame34 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
}
.frame34 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame34 > :global(.__wab_flex-container) > *,
.frame34 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame34 > :global(.__wab_flex-container) > picture > img,
.frame34
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.cardHeader7 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16px;
}
.content8 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.header9 {
  display: block;
  font-size: undefinedpx;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  align-self: stretch;
  position: relative;
  color: #fdfdfd;
}
.text__hlno4 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.6000000238418579);
  align-self: stretch;
  position: relative;
}
.iconButton8 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  padding: 8px;
}
.icon25 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.svg__b0QOo {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frame35 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
}
.frame35 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame35 > :global(.__wab_flex-container) > *,
.frame35 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame35 > :global(.__wab_flex-container) > picture > img,
.frame35
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.cardHeader8 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16px;
}
.content9 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.header10 {
  display: block;
  font-size: undefinedpx;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  align-self: stretch;
  position: relative;
  color: #eae3e3;
}
.text__v0KGu {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.17000000178813934px;
  line-height: 1.4299999475479126;
  color: rgba(0, 0, 0, 0.6000000238418579);
  align-self: stretch;
  position: relative;
}
.iconButton9 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  padding: 8px;
}
.icon26 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.svg__voQi4 {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
