.ariaComboBox:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  row-gap: var(--token-QyFW2EAs6L9m);
}
.ariaComboBox[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.freeBox__mJ0RO {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.ariaInput:global(.__wab_instance) {
  box-shadow: inset 0px 0px 0px 1px var(--token-qlE9AS-CAABc);
  width: 100%;
  font-size: var(--token-L1ZoKZx6jfei);
  line-height: var(--token-CqXjvEUuGhDi);
  outline-style: none;
  min-width: 0;
  border-radius: var(--token-iE-8n2ZaoE5H);
  padding: var(--token-iE-8n2ZaoE5H) var(--token-s_yyVVE82EAl)
    var(--token-iE-8n2ZaoE5H) var(--token-m4BYaY6Yv9fg);
  border-style: none;
}
.ariaButton:global(.__wab_instance) {
  box-sizing: border-box;
  cursor: pointer;
  object-fit: cover;
  background: none;
  position: absolute;
  right: 0;
  width: var(--token-s_yyVVE82EAl);
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--token-s_yyVVE82EAl);
  flex-shrink: 0;
  border-radius: var(--token-iE-8n2ZaoE5H);
  padding: var(--token-iE-8n2ZaoE5H) var(--token-m4BYaY6Yv9fg);
  border: 1px none black;
}
.freeBox___17Cwe {
  display: flex;
  position: relative;
  flex-direction: column;
}
.svg {
  width: var(--token-oHOtavJGAmlS);
  height: var(--token-oHOtavJGAmlS);
  flex-shrink: 0;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__qaw4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
