.ariaDialogTrigger:global(.__wab_instance) {
  position: relative;
}
.svg___6KzM {
  position: relative;
  height: 1em;
}
.svg__icg8G {
  position: relative;
  height: 1em;
}
.ariaModal:global(.__wab_instance) {
  background: var(--token-jRvA4pVCo8AN);
  display: block;
  color: var(--token-_RzW1cxkHVqB);
  font-family: var(--token-HG7J0CIxGuSx);
  font-size: var(--token-L1ZoKZx6jfei);
  line-height: var(--token-CqXjvEUuGhDi);
  outline-style: none;
  box-shadow: 0px 24px 48px -12px #00000040;
  border-radius: var(--token-oHOtavJGAmlS);
}
.pcls_LdNBtteYctUU {
  background: var(--token-EkcMQNODs9Cf);
  left: 0px;
  top: 0px;
  z-index: 10;
  position: fixed;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  outline: none;
}
.ariaDialog:global(.__wab_instance) {
  max-width: 90vw;
  object-fit: cover;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  outline-style: none;
}
.h3__ed5Bz {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-f8rxZn2dVxuJ);
  min-width: 0;
  padding: var(--token-m_7qC0aqc05i);
}
.scrollableContent {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  overflow: auto;
  padding-left: var(--token-m_7qC0aqc05i);
  padding-right: var(--token-m_7qC0aqc05i);
}
.freeBox__vItkW {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__vItkW > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-LfqKMKXzOl3_));
  height: calc(100% + var(--token-LfqKMKXzOl3_));
}
.freeBox__vItkW > :global(.__wab_flex-container) > *,
.freeBox__vItkW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vItkW > :global(.__wab_flex-container) > picture > img,
.freeBox__vItkW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-LfqKMKXzOl3_);
}
.text__zeh5U {
  position: relative;
}
.freeBox__lwDov {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
  padding: var(--token-m_7qC0aqc05i);
}
.svg__gKkRw {
  position: relative;
  height: 1em;
}
.text__qounj {
  padding-left: 0px;
}
.svg__aaINf {
  position: relative;
  height: 1em;
}
